<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title><%- title %>｜Katelyn's Crystal & Ore 晶礦飾品訂製</title>

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Merienda:wght@400;700&family=Rock+Salt&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>




  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="./assets/style/style.css">

  <style>
    #user_icon:hover #user_box{
      display: block;
    }
  </style>
</head>
<!-- https://hackmd.io/UFgAadfSTf6L0sqXJvCV8g -->
<body>
  <header class="bg-slate-700 text-white py-[18px] px-3 sticky" style="z-index:1000">
    <nav class="container flex items-center mx-auto">
      <a href="index.html" class="block mr-auto">
        <h1 class="font-2 ">
          <div class="text-2xl font-bold ">Katelyn's</div>
          <div class="text-center text-slate-400">Crystal & Ore</div>
        </h1>
      </a>
  
      <ul class="items-center hidden text-xl lg:flex">
        <li onclick="changePage('test')"><a href="test.html" class=" hover:text-slate-400">脈輪測驗</a></li>
        <li class="mx-10"><a href="#" class=" hover:text-slate-400">找晶礦</a></li>
        <li onclick="changePage('design')"><a href="design.html" class="btn-outline outline-2 outline-neutral-50">客製化設計手串</a></li>
      </ul>
  
      <ul class="flex items-center ml-16 ">
        <li class="">
          <a href="cart.html" class="block px-1 py-2 hover:text-slate-400">
            <iconify-icon icon="bi:cart-dash" width="24" height="24" class="lg:hidden"></iconify-icon>
            <iconify-icon icon="bi:cart-dash" width="28" height="28" class="hidden lg:inline"></iconify-icon>
          </a>
        </li>
        <li id="user_icon" class="ml-4 lg:ml-9 relative">
          <button class="block px-1 py-2 hover:text-slate-400">
            <iconify-icon icon="bx:user" width="24" height="24" class="lg:hidden"></iconify-icon>
            <iconify-icon icon="bx:user" width="28" height="28" class="hidden lg:block"></iconify-icon>
          </button>
          <div id="user_box" class="hidden absolute w-[100px] bg-white border right-0 top-full text-neutral-900">
            <ul>
              <li id="link_member" class="hidden"><a href="member.html" class="block w-full px-3 py-2 text-center hover:bg-slate-400">會員中心</a></li>
              <li id="link_login"><a href="login.html" class="block w-full px-3 py-2 text-center hover:bg-slate-400">登入</a></li>
              <li id="link_logout" class="hidden"><a href="#" class="block w-full px-3 py-2 text-center hover:bg-slate-400">登出</a></li>
              <li id="link_admin" class="hidden"><a href="admin_orders.html" class="block w-full px-3 py-2 text-center hover:bg-slate-400">後台</a></li>
            </ul>
          </div>
        </li>
        <li class="ml-4 lg:hidden">
          <a href="#" class="block px-1 py-2 hover:text-slate-400" onclick="toggleMenu(1)">
            <iconify-icon icon="bx:menu" width="24" height="24"></iconify-icon>
          </a>
        </li>
        <li class="hidden ml-4">
          <a href="#" class="block px-1 py-2 hover:text-slate-400" onclick="toggleMenu(0)">
            <iconify-icon icon="carbon:close" width="24" height="24"></iconify-icon>
          </a>
        </li>
      </ul>
    </nav>
  
    <nav id="menu" class="fixed top-0 bottom-0 left-0 right-0 hidden lg:hidden bg-neutral-200 text-slate-700">
        <div class="px-3 bg-slate-700">
      <div class="container mx-auto flex items-center py-[18px]">
          
          <a href="#" class="block mr-auto">
            <div class="font-2 ">
              <div class="text-2xl font-bold text-white">Katelyn's</div>
              <div class="text-center text-slate-400">Crystal & Ore</div>
            </div>
          </a>
  
          <ul class="items-center">
            <li class="ml-4">
              <a href="#" class="block px-1 py-2 text-white hover:text-slate-400" onclick="toggleMenu(0)">
                <iconify-icon icon="carbon:close" width="24" height="24"></iconify-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
          <div class="px-3">
            <ul class="my-6">
                      <li><a href="test.html" class="block p-4 hover:text-neutral-500">脈輪測驗</a></li>
                      <li><a href="#" class="block p-4 hover:text-neutral-500 ">找晶礦</a></li>
                    </ul>
                 <a href="design.html" class="block w-full text-center btn-primary">客製化設計手串</a> 
          </div>
    </nav>
  </header>

  <%- contents %>

  <footer class="px-3 py-12 bg-slate-700 lg:py-8">
    <div class="container mx-auto">
      <div class="items-center justify-between lg:flex">
        <a href="#" class="block mb-6 font-serif italic lg:mb-0 ">
          <div class="text-2xl font-bold text-white">Katelyn's</div>
          <div class="text-slate-400">Crystal & Ore</div>
        </a>
        <ul class="text-neutral-200 lg:flex lg:items-center">
          <li class="mb-6 mr-20 lg:mb-0 ">
            <p class="mb-2 text-neutral-400">Info</p>
            <ul class="flex">
              <li class="mr-6"><a href="#" class="block">訂製流程</a></li>
              <li class="mr-6"><a href="#" class="block">最新消息</a></li>
              <li><a href="#" class="block">常見問題</a></li>
            </ul>
          </li>
          <li class="">
          <p class="mb-2 text-neutral-400">About</p>
            <ul class="flex">
              <li class="mr-6"><a href="#" class="block">關於我們</a></li>
              <li class="mr-6"><a href="#" class="block">聯絡我們</a></li>
              <li><a href="admin_users.html" class="block">會員管理</a></li>
            </ul>
          </li>
        </ul>
        <p class="self-end mt-7 lg:my-0 text-neutral-400">Copyright ©2022 Katelyn’s Crystal & Ore</p>     
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>